{% extends 'SonataAdminBundle:CRUD:base_edit.html.twig' %}

{% block title %}
    {{ "title_edit"|trans({'%name%': admin.toString(object) }, 'SonataAdminBundle') }}
{% endblock %}


{% block sonata_tab_content %}
    <div class="col-md-12">
        <div class="box box-success">
            <div class="box-body">
                <div class="sonata-ba-collapsed-fields">
                    {% if object.parameters %}
                        <div class="form-group" id="message-parameters">
                            <label class="control-label">Parameters</label>
                            <div>
                                {% for parameter in object.parameters %}
                                    <a data-parameter="{{ parameter }}" href="#" title="Click to insert {{ parameter }} into textarea">
                                        {{ parameter }}
                                    </a>
                                    {{ loop.last ? '' : ',' }}
                                {% endfor %}
                            </div>
                        </div>
                    {% endif %}
                    {% for field in form.translations %}
                        {{ form_row(field) }}
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('bundles/aotranslation/js/jquery.atcaret.js') }}" type="text/javascript"></script>
    <script>
        $(function () {
            var focused = null;
            var textareas = $('.box-body textarea');
            textareas.focus(function(){
                focused = $(this);
            });

            $('#message-parameters a').click(function () {
                if (focused) {
                    var event = document.createEvent('TextEvent');
                    var parameter = $(this).data('parameter');

                    if (event.initTextEvent) {
                        var pos = focused.atCaret('getCaretPosition');
                        event.initTextEvent('textInput', true, true, null, parameter);
                        focused.get(0).dispatchEvent(event);
                        focused.atCaret('setCaretPosition', pos + parameter.length);
                    }
                    else // for firefox
                    {
                        focused.atCaret('insert', parameter);
                        focused.trigger('change');
                    }
                }
                else {
                    textareas.each(function (i, e) {
                        window.setTimeout(function () {
                            $(e).effect("highlight", {}, 1000);
                        }, 700 * i);
                    });
                }
                return false;
            });
        });
    </script>
{% endblock %}
